<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controller.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertProyecto</servlet-name>
        <servlet-class>Controller.srvInsertProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaProyecto</servlet-name>
        <servlet-class>Controller.srvBusquedaProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateProyecto</servlet-name>
        <servlet-class>Controller.srvUpdateProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteProyecto</servlet-name>
        <servlet-class>Controller.srvDeleteProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertTarea</servlet-name>
        <servlet-class>Controller.srvInsertTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateTarea</servlet-name>
        <servlet-class>Controller.srvUpdateTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteTarea</servlet-name>
        <servlet-class>Controller.srvDeleteTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaTarea</servlet-name>
        <servlet-class>Controller.srvBusquedaTarea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertProyecto</servlet-name>
        <url-pattern>/srvInsertProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaProyecto</servlet-name>
        <url-pattern>/srvBusquedaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateProyecto</servlet-name>
        <url-pattern>/srvUpdateProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteProyecto</servlet-name>
        <url-pattern>/srvDeleteProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertTarea</servlet-name>
        <url-pattern>/srvInsertTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateTarea</servlet-name>
        <url-pattern>/srvUpdateTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteTarea</servlet-name>
        <url-pattern>/srvDeleteTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaTarea</servlet-name>
        <url-pattern>/srvBusquedaTarea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
