<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controller.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertProyecto</servlet-name>
        <servlet-class>Controller.srvInsertProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaProyecto</servlet-name>
        <servlet-class>Controller.srvBusquedaProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateProyecto</servlet-name>
        <servlet-class>Controller.srvUpdateProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteProyecto</servlet-name>
        <servlet-class>Controller.srvDeleteProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertTarea</servlet-name>
        <servlet-class>Controller.srvInsertTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateTarea</servlet-name>
        <servlet-class>Controller.srvUpdateTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteTarea</servlet-name>
        <servlet-class>Controller.srvDeleteTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaTarea</servlet-name>
        <servlet-class>Controller.srvBusquedaTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertActividad</servlet-name>
        <servlet-class>Controller.srvInsertActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaActividad</servlet-name>
        <servlet-class>Controller.srvBusquedaActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteActividad</servlet-name>
        <servlet-class>Controller.srvDeleteActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateActividad</servlet-name>
        <servlet-class>Controller.srvUpdateActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertEmpresa</servlet-name>
        <servlet-class>Controller.srvInsertEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaEmpresa</servlet-name>
        <servlet-class>Controller.srvBusquedaEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateEmpresa</servlet-name>
        <servlet-class>Controller.srvUpdateEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteEmpresa</servlet-name>
        <servlet-class>Controller.srvDeleteEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsertUsuario</servlet-name>
        <servlet-class>Controller.srvInsertUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvBusquedaUsuario</servlet-name>
        <servlet-class>Controller.srvBusquedaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdateUsuario</servlet-name>
        <servlet-class>Controller.srvUpdateUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDeleteUsuario</servlet-name>
        <servlet-class>Controller.srvDeleteUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReporte</servlet-name>
        <servlet-class>Controller.srvReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertProyecto</servlet-name>
        <url-pattern>/srvInsertProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaProyecto</servlet-name>
        <url-pattern>/srvBusquedaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateProyecto</servlet-name>
        <url-pattern>/srvUpdateProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteProyecto</servlet-name>
        <url-pattern>/srvDeleteProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertTarea</servlet-name>
        <url-pattern>/srvInsertTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateTarea</servlet-name>
        <url-pattern>/srvUpdateTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteTarea</servlet-name>
        <url-pattern>/srvDeleteTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaTarea</servlet-name>
        <url-pattern>/srvBusquedaTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertActividad</servlet-name>
        <url-pattern>/srvInsertActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaActividad</servlet-name>
        <url-pattern>/srvBusquedaActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteActividad</servlet-name>
        <url-pattern>/srvDeleteActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateActividad</servlet-name>
        <url-pattern>/srvUpdateActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertEmpresa</servlet-name>
        <url-pattern>/srvInsertEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaEmpresa</servlet-name>
        <url-pattern>/srvBusquedaEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateEmpresa</servlet-name>
        <url-pattern>/srvUpdateEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteEmpresa</servlet-name>
        <url-pattern>/srvDeleteEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsertUsuario</servlet-name>
        <url-pattern>/srvInsertUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvBusquedaUsuario</servlet-name>
        <url-pattern>/srvBusquedaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdateUsuario</servlet-name>
        <url-pattern>/srvUpdateUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDeleteUsuario</servlet-name>
        <url-pattern>/srvDeleteUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReporte</servlet-name>
        <url-pattern>/srvReporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <mime-mapping>
    <extension>mp4</extension>
        <mime-type>video/mp4</mime-type>
    </mime-mapping>
</web-app>
